{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
        
            {% for error in errors %}               
               		<div class="message errormsg"><p>{{error.message}}</p></div>
            {% endfor %}
     		
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}
