<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
       
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
        <meta name="viewport" content="width=device-width" />	
            
		<link rel="stylesheet" href="{{ asset('css/style.css') }} ">
		<link rel="stylesheet" href="{{ asset('css/responsive.css') }}">
		<link rel="stylesheet" href="{{ asset('css/visualize.css') }}">
		<link rel="stylesheet" href="{{ asset('css/date_input.css') }}">
		<link rel="stylesheet" href="{{ asset('css/jquery.minicolors.css') }}">
		<link rel="stylesheet" href="{{ asset('css/jquery.wysiwyg.css') }}">
		<link rel="stylesheet" href="{{ asset('css/jquery.fancybox.css') }}">
		<link rel="stylesheet" href="{{ asset('css/tipsy.css') }}">
		
		<!--[if lt IE 9]>
			<link rel="stylesheet" href="{{ asset('css/ie.css') }}">
			<script src="{{ asset('js/html5shiv.js') }}"></script>
		<![endif]-->
		{% block stylesheets %}{% endblock %}
		<link rel="apple-touch-icon-precomposed" href="{{ asset('images/ios_icon.png') }}" />
	   
    </head>
    <body>
     <header>
	
		<h1><a href="page.html">Response.bg Admin Panel</a></h1>
		
		<form action="" method="post" class="searchform">
			<input type="text" class="text" value="Search..." />
			<input type="submit" class="submit" value="" />
		</form>
		
		
		<section class="userprofile">
			<ul>
				<li><a href="#"><img src="images/avatar.gif" alt="" /> enstyled</a>
					<ul>
						<li><a href="#">Profile</a></li>
						<li><a href="#">Messages</a></li>
						<li><a href="index.html">Logout</a></li>
					</ul>
				</li>
			</ul>
		</section>		<!-- .userprofile ends -->
			
	</header>		<!-- #header ends -->
	
	{% include 'menu.html.twig' %}
	
	<section id="content">	
	 {% block body %}{% endblock %}
	</section>
	
    <script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/jquery-ui.min.js') }}"></script>
	
	<script type="text/javascript" src="{{ asset('js/excanvas.js') }} "></script>
	<script type="text/javascript" src="{{ asset('js/jquery.visualize.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/jquery.tablesorter.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/jquery.date_input.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/jquery.minicolors.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/jquery.wysiwyg.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/jquery.fancybox.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/jquery.tipsy.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/custom.js') }}"></script>   
	{% block javascripts %}{% endblock %}        
    </body>
</html>