	<aside>
		
		<ul id="nav">
			<li><a href="#"><strong><img src="{{ asset('images/nav/dashboard.png')}}" alt="" /> Начало</strong></a></li>
			<li><a href="#"><img src="{{ asset('images/nav/pages.png') }}" alt="" /> Страници</a></li>
			{#<li><a href="#" class="collapse"><img src="images/nav/media.png" alt="" /> Media</a>
				<ul>
					<li><a href="#">Photos</a></li>
					<li><a href="#">Video</a></li>
					<li><a href="#">Audio</a></li>
				</ul>
			</li>
			<li><a href="#"><img src="images/nav/calendar.png" alt="" /> Calendar</a></li>
			#}
			<li><a href="{{ path('admin_user') }}"><img src="{{ asset('images/nav/users.png')}}" alt="" /> Потребители</a>
				<ul>
					<li><a href="{{ path('admin_user_create') }}">Добави нов потребител</a></li>
					<li><a href="{{ path('fos_user_group_list') }}">Потребителски групи</a></li>
				</ul>
			</li>
			<li><a href="{{ path('admin_products') }}"><span>12</span> <img src="{{ asset('images/nav/support.png')}}" alt="" /> Продукти</a>
				<ul>
					<li><a href="{{ path('importcsv') }}">Импорт на CSV</a></li>
					<!-- <li><a href="#">Сливане на продукти</a></li> -->
				</ul>
					
			</li>
			<li><a href="{{ path('admin_categories') }}"><img src="{{ asset('images/nav/support.png')}}" alt="" /> Категории</a></li>
			<li><a href="{{ path('admin_brands') }}"><img src="{{ asset('images/nav/support.png')}}" alt="" /> Марки</a></li>
			<!-- <li><a href="{{ path('admin_options') }}"><img src="{{ asset('images/nav/support.png')}}" alt="" /> Опции</a></li> -->
			<li><a href="{{ path('admin_size') }}"><img src="{{ asset('images/nav/support.png')}}" alt="" /> Размери</a></li>
			<li><a href="{{ path('admin_color') }}"><img src="{{ asset('images/nav/support.png')}}" alt="" /> Цветове</a></li>
			
			{#<li><a href="#"><img src="images/nav/settings.png" alt="" /> Settings</a></li>
			<li><a href="#"><span>12</span> <img src="images/nav/support.png" alt="" /> Support</a></li>
			#}
		</ul>
		
		{#
		<section class="status_box">
			<ul>
				<li><a href="#" class="online" title="Online">Web server 1</a></li>
				<li><a href="#" class="online" title="Online">Web server 2</a></li>
				<li><a href="#" class="warning" title="Warning">DB server</a></li>
				<li><a href="#" class="offline" title="Offline">Mail server</a></li>
			</ul>
		</section>
		#}
	</aside>		<!-- aside ends -->