{% extends '::layout.html.twig' %}
	
{% block body %}
	<div class="breadcrumb">
			<a href="{{ path('homepage_admin')  }}">Начало</a> &raquo; <a href="{{ path('admin_brands') }}"> Марки</a> &raquo; <a href="{{ path('admin_brands_edit', { id: entity.id } ) }}">Редактирай марка</a> 
		</div>		<!-- .breadcrumb ends -->
		{{ form_start(edit_form)}}

		<p>
		<label>Заглавие:</label><br />
		{{ form_widget(edit_form.title, { 'attr': { 'class': 'text', 'size': 80 } } ) }} 		 
	   </p>	
	   
	   
	   <p>	
	   	<input type="submit" class="submit green" value="Добави" />
	   </p>
		{{ form_end(edit_form) }}
{% endblock %}