{% extends '::layout.html.twig' %}

{% block body %}
	<h2>Марки</h2>
	
	<div class="breadcrumb">
			<a href="{{ path('homepage_admin')  }}">Начало</a> &raquo; <a href="{{ path('admin_brands') }}"> Марки</a>  
		</div>		<!-- .breadcrumb ends -->
	
		
		<form action="{{ path('admin_brands_delete_all') }}" method="post">
					
			<table cellpadding="0" cellspacing="0" width="100%" class="sortable">
			
				<thead>
					<tr>
						<th width="10"><input type="checkbox" class="check_all" /></th>
						<th>Заглавие</th>						 
						<th>Действия</th>
					</tr>
				</thead>
				<tbody>
				 {% for entity in entities %}
					<tr>
						<td><input type="checkbox" name="brands_delete[]" value="{{ entity.id }}" /></td>
						<td><strong><a href="{{ path('admin_products_edit', { 'id': entity.id} ) }}">{{entity.title}}</a></strong></td>
 						<td><a href="{{ path('admin_brands_edit', { id: entity.id } ) }}">Редактирай</a></td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			
			<div class="tableactions">
				<select>
					<option>Действия</option>
					<option value="delete">Изтрий</option>
 				</select>
				
				<input type="submit" class="submit tiny" value="Приложи" />
				<a href="{{ path('admin_brands_new') }}" class="submit green">Добави марка</a>
 			</div>		<!-- .tableactions ends -->
			
		</form>	
		
			
{% endblock %}
