<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Добре дошли в Административният панел{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
        <meta name="viewport" content="width=device-width" />	
		<link rel="stylesheet" href="{{ asset('css/style.css') }} ">
		<link rel="stylesheet" href="{{ asset('css/responsive.css') }}">
		<link rel="stylesheet" href="{{ asset('css/visualize.css') }}">
		<link rel="stylesheet" href="{{ asset('css/date_input.css') }}">
		<link rel="stylesheet" href="{{ asset('css/jquery.minicolors.css') }}">
		<link rel="stylesheet" href="{{ asset('css/jquery.wysiwyg.css') }}">
		<link rel="stylesheet" href="{{ asset('css/jquery.fancybox.css') }}">
		<link rel="stylesheet" href="{{ asset('css/tipsy.css') }}">
		
		<!--[if lt IE 9]>
			<link rel="stylesheet" href="{{ asset('css/ie.css') }}">
			<script src="{{ asset('js/html5shiv.js') }}"></script>
		<![endif]-->
		
		<link rel="apple-touch-icon-precomposed" href="{{ asset('images/ios_icon.png') }}" />
	        
    </head>





<body class="loginpage">


	<header>
	
		<h1><a href="index.html">Административен панел</a></h1>
		
		<a href="http://themeforest.net/item/adminium-modern-admin-panel-interface/851824?ref=enstyled" class="backlink">&laquo; Back to the site</a>
		
	</header>		<!-- header ends -->
	
	 
	<section id="content" class="loginbox">
	
		<div class="message info"><p>This is an example, just click login.</p></div>
					
		<form action="page.html" method="post">
			<p>
				<label>Username:</label> <br />
				<input type="text" class="text" value="Admin" />
			</p>
			
			<p>
				<label>Password:</label> <br />
				<input type="password" class="text" value="Password" />
			</p>
			
			<p class="formend">
				<input type="submit" class="submit" value="Login" /> &nbsp; 
				<input type="checkbox" class="checkbox" checked="checked" id="rememberme" /> <label for="rememberme">Remember me</label>
			</p>
		</form>
	</section>		<!-- .loginbox ends -->
	
	
	
	
	
        
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/ui/1.8.16/jquery-ui.min.js"></script>
	
	<script type="text/javascript" src="{{ asset('js/excanvas.js') }} "></script>
	<script type="text/javascript" src="{{ asset('js/jquery.visualize.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/jquery.tablesorter.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/jquery.date_input.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/jquery.minicolors.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/jquery.wysiwyg.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/jquery.fancybox.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/jquery.tipsy.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/custom.js') }}"></script>   
        
</body>
</html>