{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content  %}
 
	 {% if error %}
              <div class="message errormsg">{{ error|trans({}, 'FOSUserBundle') }}</div>
     {% endif %}
					
		<form action="{{ path("fos_user_security_check") }}" method="post">
			<p>
				<label>Потребител:</label> <br />
				<input type="text" class="text" value="{{ last_username }}" name="_username"  />
			</p>
			
			<p>
				<label>Парола:</label> <br />
				<input type="password" class="text" value="" name="_password" />
			</p>
			
			<p class="formend">
				<input type="submit" class="submit" value="Login"  /> &nbsp; 
				<input type="checkbox" class="checkbox" checked="checked" id="rememberme" name="_remember_me" /> <label for="rememberme">Запомни ме</label>
			</p>
			<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
		</form>
{% endblock %}