<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=7" />
		
	<title>Adminium - Login</title>
	
	<meta name="description" content="." />
	<meta name="keywords" content="." />
	
	<meta name="viewport" content="width=device-width;" />
	
	<link rel="stylesheet" href="{{ asset('css/style.css')}}">
	<link rel="stylesheet" href="{{ asset('css/responsive.css')}}">	 
	
</head>




<body class="loginpage">


	<header>
	
		<h1><a href="index.html">Response.bg Admin Panel</a></h1>
		
		
	</header>		<!-- header ends -->
	<section id="content" class="loginbox">
		 {% block fos_user_content %}
         {% endblock fos_user_content %}		
	</section>		<!-- .loginbox ends -->
	
	
	 

</body>
</html>