{% extends '::layout.html.twig' %}
{% form_theme edit_form '::form_errors.html.twig' %}
 
{% block body %}
	<div class="breadcrumb">
			<a href="{{ path('homepage_admin')  }}">Начало</a> &raquo; <a href="{{ path('admin_products') }}">Продукти</a> &raquo; <a href="{{ path('admin_products_create') }}">Добави продукт</a> 
		</div>		<!-- .breadcrumb ends -->
		
		{{ form_errors(edit_form) }}
		
	{{ form_start(edit_form) }}
		<p>
		<label>SKU номер:</label><br />
		{{ form_widget(edit_form.sku, { 'attr': { 'class': 'text' } } ) }} 
		{{ form_errors(edit_form.sku)}}
	   </p>	
	   <p>
		<label>Заглавие:</label><br />
		{{ form_widget(edit_form.title, { 'attr': { 'class': 'text', 'size': '80' } } ) }} 		
		{{ form_errors(edit_form.title)}} 
	   </p>
	    <p>
		<label>Описание:</label><br />
		{{ form_widget(edit_form.description, { 'attr': { 'class': 'wysiwyg' } } ) }}
		{{ form_errors(edit_form.description)}} 		 
	   </p>	
	    <p>
		<label>Категория:</label><br />
		{{ form_widget(edit_form.category, { 'attr': { 'class': 'styled' } } ) }} 		
		{{ form_errors(edit_form.category)}} 
	   </p>
	   <p>
		<label>Марка:</label><br />
		{{ form_widget(edit_form.brand, { 'attr': { 'class': 'styled' } } ) }} 		
		{{ form_errors(edit_form.brand)}} 
	   </p>
	  
	  <p>
		<label>Размер:</label><br />
		{{ form_widget(edit_form.size, { 'attr': { 'class': 'styled' } } ) }} 		 
		{{ form_errors(edit_form.size)}}
	   </p>
	   
	    <p>
		<label>Цвят:</label><br />
		{{ form_widget(edit_form.color, { 'attr': { 'class': 'color_picker' } } ) }} 		 
		{{ form_errors(edit_form.color)}}
	   </p>	
	   
	   <p>
		<label>Цена [лв.]:</label><br />
		{{ form_widget(edit_form.price, { 'attr': { 'class': 'styled' } } ) }} 		 
		{{ form_errors(edit_form.price)}}
	   </p>				
	   
	     <br />
		<hr />
		<br />
		
		
		<h2>Снимки на продукта</h2>
		
		<p class="fileupload">
				<label>Избери снимка:</label> 
				<input type="file" class="file" id="file_upload" />
	    </p>
						
		
			<br />
		
		<ul class="imglist" id="image_list">
		{% if fileNames is not empty %}
			{% include "ResponseProductBundle:Products:uploadImage.html.twig" with fileNames %}
		{% endif %}
		</ul>	
		
	   
	    <p>	
	   	<input type="submit" class="submit green" value="Редактирай" formnovalidate />
	   </p>
	  
	 	{% block javascripts %}
		 
		<script type="text/javascript" src="{{ asset('bundles/uploadify/jquery.uploadify.min.js') }}"></script>
		<script type="text/javascript">
			$(document).ready(function(){
					$('#file_upload').uploadify({		
						'formData': {
							'token': '{{ salt }}',
							'timestamp': '{{ timestamp }}',
							'sessionId': '{{ app.session.getId() }}'
						},	
						'swf'      : "{{ asset('bundles/uploadify/uploadify.swf') }}",
						'uploader' : "{{ path('product_upload_image') }}",
						'onUploadSuccess': function(file, data, response) {							
							
							$("#image_list").append(data).sortable('refresh').find('.modal').fancybox({
									'overlayOpacity':	0.7,
									'overlayColor'	:	'#000',
									'padding'		:	0
								});				
							 
 						}
					});
					
					// initial sortable and modal
					$("#image_list").sortable( { placeholder: 'ui-state-highlight' } )
									.find('modal').fancybox({
									'overlayOpacity':	0.7,
									'overlayColor'	:	'#000',
									'padding'		:	0
									});
				 
									
							 
				});
		</script>
		{% endblock %}
		
		{% block stylesheets %}
		 
			<link rel="stylesheet" type="text/css" href="{{ asset('bundles/uploadify/uploadify.css')}}" />
		{% endblock %}
	   
	{{ form_end(edit_form) }}
{% endblock %}