{% extends '::layout.html.twig' %}

{% block body %}	
	<div class="breadcrumb">
			<a href="{{ path('homepage_admin')  }}">Начало</a> &raquo; <a href="{{ path('admin_products') }}">Продукти</a> &raquo; <a href="{{ path('admin_products_create') }}">Добави продукт</a> 
		</div>		<!-- .breadcrumb ends -->
		
		{{ form_errors(form) }}
		
		
		{{ form_start(form) }}
	
		{% if app.session.flashbag.has('notice') %}
			<div class="message success">{{ app.session.flashbag.get('notice')[0] }}</div>
		{%  endif %}
		
		<p class="fileupload">
		<label>Изберете CSV файл:</label><br />
		{{ form_widget(form.file, { 'attr': { 'class': 'file' } } ) }} 
		
	   </p>	
	   {% if not form.vars.valid %}
	   <div class="message errormsg">{{ form_errors(form.file)}}</div>
	   {%  endif %}
	   <br />
		
		<ul class="imglist" id="image_list">
			
		</ul>	
	   
	    <p>	
	   	<input type="submit" class="submit green" value="Добави" formnovalidate />
	   </p>
	  
	{{ form_end(form) }}

 {% endblock %} 
