{% extends '::layout.html.twig' %}

{% block bbody -%}
    <h1>Products list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Sku</th>
                <th>Title</th>
                <th>Description</th>
                <th>Collection</th>
                <th>Updatedat</th>
                <th>Createdat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_products_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.sku }}</td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.collection }}</td>
                <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_products_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_products_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('admin_products_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
    
    {% block body %}
    <h2>Продукти</h2>
    <form method="post" action="{{ path('admin_products_delete_all') }}">
     <table class="sortable">
        <thead>
            <tr>
                <th width="10"><input type="checkbox" class="check_all" /></th>
                <th>SKU номер</th>
                <th>Заглавие</th>
                <th>Описание</th>              
                <th>Марка</th>
                <th>Размер</th>
                <th>Цвят</th>
                <th>В наличност ли е?</th>
                <th>Публикуван ли е?</th>
                <th>Дата на създаване</th>
                <th>Редакция</th>
              
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
        	<tr>
        	    <td><input type="checkbox" class="products_delete" name="products_delete[]" value="{{ entity.id }}" /></td>
        		<td>{% if entity.parent %} {{ entity.parent.sku }} - {% endif %} {{ entity.sku }}</td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.brand }}</td>
                <td>
        {#{% for option in entity.options %}
                		{{ option.title }} - {{ option.value }} <br>
                	{% endfor %}
        #}		{{ entity.size }}
                </td>
                
                <td>{{ entity.color }}</td>
                <td>{% if  entity.inStock %}да{% endif %}</td>
                <td>{% if  entity.status == 1 %}да{% endif %}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td><a href="{{ path('admin_products_edit', { id: entity.id } ) }}">Редакция</a></td>
              
        	</tr>
       	{% endfor %}
        </tbody>
     </table>
     
     			
			<div class="tableactions">
				<select name="action">
					<option>Действия</option>
					<option value="delete">Изтрий</option>
					<option value="merge">Сливане</option>
					<option value="unmerge">Разгрупиране</option>
 				</select>
				
				<input type="submit" class="submit tiny" value="Приложи" />
				<a href="{{ path('admin_products_new') }}" class="submit green">Добави продукт</a>
 			</div>		<!-- .tableactions ends -->
			
    	
    	</form>
    	
    	<div style="display:none;">
    		<div id="merge_data">
    		<select>
    			<option>merge product name</option>
    		</select>
    		</div>
    	</div>
    {% endblock %}

    
    {% block javascripts %}
    	<script type="text/javascript">
    		var iframeUrl = "{{ path('merge_popup') }}?";
			var selected = $(".tableactions select").change(function() {
				
				var value = $(this).val();
				if(value == "merge") {
					// popup
					var prodIds = $(".products_delete:checked");
					var iframeUrlParams = iframeUrl;
					prodIds.each(function(i, elem) {
						iframeUrlParams += "ids[]="+elem.value+"&";
					});

					
					
					if(prodIds.length == 0) 
					{
					
						//hudMsg('info', 'Моля изберете продукти, които искате да слеете', 3000);
					
					} else {
												
						$.fancybox({
							 'href' : iframeUrlParams,
							 'type' : 'iframe',
							 'width': 200,
							 'height': 250												
						});	
					}
					
					
					
				} 
			});
			
    	</script>    	
    {% endblock %}