{% extends '::layout.html.twig' %}
{% form_theme form '::form_errors.html.twig' %}

{% block bbody -%}
    <h1>Products creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_products') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}

{% block body %}
	<div class="breadcrumb">
			<a href="{{ path('homepage_admin')  }}">Начало</a> &raquo; <a href="{{ path('admin_products') }}">Продукти</a> &raquo; <a href="{{ path('admin_products_create') }}">Добави продукт</a> 
		</div>		<!-- .breadcrumb ends -->
		
		{{ form_errors(form) }}
		
	{{ form_start(form) }}
		<p>
		<label>SKU номер:</label><br />
		{{ form_widget(form.sku, { 'attr': { 'class': 'text' } } ) }} 
		{{ form_errors(form.sku)}}
	   </p>	
	   <p>
		<label>Заглавие:</label><br />
		{{ form_widget(form.title, { 'attr': { 'class': 'text', 'size': '80' } } ) }} 		
		{{ form_errors(form.title)}} 
	   </p>
	    <p>
		<label>Описание:</label><br />
		{{ form_widget(form.description, { 'attr': { 'class': 'wysiwyg' } } ) }}
		{{ form_errors(form.description)}} 		 
	   </p>	
	    <p>
		<label>Категория:</label><br />
		{{ form_widget(form.category, { 'attr': { 'class': 'styled' } } ) }} 		
		{{ form_errors(form.category)}} 
	   </p>
	   <p>
		<label>Марка:</label><br />
		{{ form_widget(form.brand, { 'attr': { 'class': 'styled' } } ) }} 		
		{{ form_errors(form.brand)}} 
	   </p>
	   <p>
		<label>Размер:</label><br />
		{{ form_widget(form.size, { 'attr': { 'class': 'styled' } } ) }} 		 
		{{ form_errors(form.size)}}
	   </p>
	   
	    <p>
		<label>Цвят:</label><br />
		{{ form_widget(form.color, { 'attr': { 'class': 'color_picker' } } ) }} 		 
		{{ form_errors(form.color)}}
	   </p>	
	   
	    <p>
		<label>Цена [лв.]:</label><br />
		{{ form_widget(edit_form.price, { 'attr': { 'class': 'styled' } } ) }} 		 
		{{ form_errors(edit_form.price)}}
	   </p>			
	   
	     <br />
		<hr />
		<br />
		
		
		<h2>Снимки на продукта</h2>
		
		<p class="fileupload">
				<label>Избери снимка:</label> 
				<input type="file" class="file" id="file_upload" />
	    </p>
						
		
			<br />
		
		<ul class="imglist" id="image_list">
			
		</ul>	
	   
	    <p>	
	   	<input type="submit" class="submit green" value="Добави" formnovalidate />
	   </p>
	  
	 	{% block javascripts %}
		 
		<script type="text/javascript" src="{{ asset('bundles/uploadify/jquery.uploadify.min.js') }}"></script>
		<script type="text/javascript">
			$(function($) {
					$('#file_upload').uploadify({		
						'formData': {
							'token': '{{ salt }}',
							'timestamp': '{{ timestamp }}',
							'sessionId': '{{ app.session.getId() }}'
						},	
						'swf'      : "{{ asset('bundles/uploadify/uploadify.swf') }}",
						'uploader' : "{{ path('product_upload_image') }}",
						'onUploadSuccess': function(file, data, response) {							
							
							$("#image_list").append(data).sortable({
									placeholder: 'ui-state-highlight'
								}).find('.modal').fancybox({
									'overlayOpacity':	0.7,
									'overlayColor'	:	'#000',
									'padding'		:	0
								});				
							 
 						}
					});
					
				});
		</script>
		{% endblock %}
		
		{% block stylesheets %}
		 
			<link rel="stylesheet" type="text/css" href="{{ asset('bundles/uploadify/uploadify.css')}}" />
		{% endblock %}
	   
	{{ form_end(form) }}
{% endblock %}