{% for file in fileNames %}
	<li>
		<img src="{{ asset('/uploads/products/' ~ file )  | apply_filter('product_thumb') }}" alt="" />
		<input type="hidden" name="images[]" value="{{file}}">
		<ul>
			<li class="view"><a href="{{ asset('uploads/products/' ~ file )  }}" class="modal" rel="gallery" title="">Преглед</a></li>
			<li class="delete"><a href="#">Изтрий</a></li>
		</ul>
	</li>
{% endfor %}