{% extends '::layout.html.twig' %}

{% form_theme edit_form '::form_errors.html.twig' %}

{% block body %}
		
	<div class="breadcrumb">
			<a href="{{ path('homepage_admin')  }}">Начало</a> &raquo; <a href="{{ path('admin_options') }}"> Опции</a> &raquo; <a href="{{ path('admin_options_create') }}">Добави опция</a> 
		</div>		<!-- .breadcrumb ends -->
		{{ form_start(edit_form)}}
		
		
		
		<p>
		<label>Заглавие:</label><br />
		{{ form_widget(edit_form.title, { 'attr': { 'class': 'text', 'size': 80 } } ) }} 		 
		{{ form_errors(edit_form.title) }}
	   </p>	
	   	<p>
		<label>Стойност:</label><br />
		{{ form_widget(edit_form.value, { 'attr': { 'class': 'text', 'size': 80 } } ) }}
		{{ form_errors(edit_form.value) }} 		 
	   </p>	
	   <p>	
	   	<input type="submit" class="submit green" value="Редакция" formnovalidate />
	   </p>
		{{ form_end(edit_form) }}
		
		
{% endblock %}