{% extends '::layout.html.twig' %}
	
	{% block body %}
    
    <form action="{{ path('admin_options_delete_all') }}" method="post">
					
			<table cellpadding="0" cellspacing="0" width="100%" class="sortable">
			
				<thead>
					<tr>
						<th width="10"><input type="checkbox" class="check_all" /></th>
						<th>Име</th>
						<th>Стойност</th>		
						<th>Действия</th>				 
					</tr>
				</thead>
				<tbody>	
				 {% for entity in entities %}
					<tr>
						<td><input type="checkbox" name="options_delete[]" value="{{entity.id}}" /></td>			
						<td>{{ entity.title }}</td>
						<td>{{ entity.value }}</td>
						<td><a href="{{ path('admin_options_edit', { id: entity.id }) }}">Редакция</a></td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			
			<div class="tableactions">
				<select>
					<option>Действия</option>
					<option>Изтрий</option>					
				</select>
				
				<input type="submit" class="submit tiny" value="Приложи" />	
				<a href="{{ path('admin_options_new') }}">Добави опция</a>
			</div>		<!-- .tableactions ends -->
	</form>
 
    	
    {% endblock %}
