{% extends '::layout.html.twig' %}

{% form_theme form '::form_errors.html.twig' %}


{% block bbody -%}
    <h1>Options creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_options') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
 

{% block body %}
		
	<div class="breadcrumb">
			<a href="{{ path('homepage_admin')  }}">Начало</a> &raquo; <a href="{{ path('admin_options') }}"> Опции</a> &raquo; <a href="{{ path('admin_options_create') }}">Добави опция</a> 
		</div>		<!-- .breadcrumb ends -->
		{{ form_start(form)}}
		
		
		
		<p>
		<label>Заглавие:</label><br />
		{{ form_widget(form.title, { 'attr': { 'class': 'text', 'size': 80 } } ) }} 		 
		{{ form_errors(form.title) }}
	   </p>	
	   	<p>
		<label>Стойност:</label><br />
		{{ form_widget(form.value, { 'attr': { 'class': 'text', 'size': 80 } } ) }}
		{{ form_errors(form.value) }} 		 
	   </p>	
	   <p>	
	   	<input type="submit" class="submit green" value="Добави" formnovalidate />
	   </p>
		{{ form_end(form) }}
		
		
{% endblock %}