{% extends '::layout.html.twig' %}
	
{% block body %}
	<div class="breadcrumb">
			<a href="{{ path('homepage_admin')  }}">Начало</a> &raquo; <a href="{{ path('admin_categories') }}"> Категории</a> &raquo; <a href="{{ path('admin_categories_edit', { id: entity.id }) }}">Редактирай категория</a> 
		</div>		<!-- .breadcrumb ends -->
		{{ form_start(edit_form)}}

		<p>
		<label>Заглавие:</label><br />
		{{ form_widget(edit_form.title, { 'attr': { 'class': 'text', 'size': 80 } } ) }} 		 
	   </p>	
	   <p>
		<label>Родителска категория:</label><br />
		{{ form_widget(edit_form.parent, { 'attr': { 'class': 'styled' } } ) }} 		 
	   </p>	
	   <p>	
	   	<input type="submit" class="submit green" value="Редактирай" />
	   </p>
		{{ form_end(edit_form) }}
{% endblock %}