{% extends '::layout.html.twig' %}

{% block body -%}
	
		<div class="breadcrumb">
			<a href="{{ path('homepage_admin')  }}">Начало</a> &raquo; <a href="{{ path('admin_categories') }}"> Категории</a>  
		</div>		<!-- .breadcrumb ends -->

    <h2>Kатегории</h2>
    
	<form action="{{ path('admin_categories_delete_all') }}" method="post">
		<table cellpadding="0" cellspacing="0" width="100%" class="sortable">        
		<thead>
            <tr>
                <th width="10"><input type="checkbox" class="check_all" /></th>
                <th>Заглавие</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
            	<td><input type="checkbox" name="categories_delete[]" value="{{ entity.id }}" /></td>
                <td>{% if entity.parent %} {{entity.parent.title }} - {% endif %} {{ entity.title }}</td>
                <td><a href="{{ path('admin_categories_edit', { id: entity.id } ) }}">Редактирай</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <div class="tableactions">
		<select>
			<option>Действия</option>
			<option value="delete">Изтрий</option>
		</select>
		
		<input type="submit" class="submit tiny" value="Приложи" />
		<a href="{{ path('admin_categories_new') }}" class="submit green">Добави категория</a>
	</div>		<!-- .tableactions ends -->
       
    </form>
    {% endblock %}
